<launch>

  <arg name="nao_ip" default="$(optenv NAO_IP 127.0.0.1)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
  <arg name="namespace" default="pepper_robot" />

  <include file="$(find pepper_dcm_bringup)/launch/pepper_bringup.launch" >
    <arg name="network_interface"   value="wlp3s0" />
  </include>
</launch>
