<launch>

    <!-- Since we dont rectify, and dont debayer, we can save the computation time here -->
    <!--<node pkg="image_proc" type="image_proc" name="rgb_processing" output="screen"-->
          <!--ns="/pepper_robot/camera/front/camera"></node>-->

    <node pkg="nodelet" type="nodelet" name="register_depth" output="screen"
          args="standalone depth_image_proc/register">
        <remap from="rgb/camera_info" to="/pepper_robot/camera/front/camera/camera_info"/>
        <remap from="depth/camera_info" to="/pepper_robot/camera/depth/camera/camera_info"/>
        <remap from="depth/image_rect" to="/pepper_robot/camera/depth/camera/image_raw"/>
        <remap from="depth_registered/camera_info" to="/pepper_robot/camera/depth_registered/camera_info"/>
        <remap from="depth_registered/image_rect" to="/pepper_robot/camera/depth_registered/image_rect"/>
        <param name="queue_size" value="300"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="cloudify" output="screen"
          args="standalone depth_image_proc/point_cloud_xyzrgb">
        <remap from="rgb/camera_info" to="/pepper_robot/camera/front/camera/camera_info"/>
        <remap from="rgb/image_rect_color" to="/pepper_robot/camera/front/camera/image_raw"/>
        <!-- The depth image_rect IS broken, have a look at it in RVIZ -->
        <remap from="depth_registered/image_rect" to="/pepper_robot/camera/depth_registered/image_rect"/>
        <remap from="depth_registered/points" to="/pepper_robot/camera/depth/points"/>
    </node>

    <!-- clafu camera_info -->
    <node pkg="topic_tools" type="relay" name="camera_info_relay"
          args="/pepper_robot/camera/depth/camera/camera_info /pepper_robot/camera/depth/camera_info" output="screen"/>
</launch>
